<div class="cms-app-allowanceemployee-container">
  <core-page-list [apiDefinition]="apiDefinition" [columns]="columns" [editRoute]="editRoute" [crud]="crud"
    [title]="title" [left]="orgTree"
    [outerParam$]="outerParam$"
    [outerInOperators]="outerInOperators"
    [autoResizeWithWindow]="true"

    [showParamKit]="true"
    [frozen]="2"
    [datePeriodComparisonFor]="datePeriodComparisonFor"
    [datePeriodComparisonForLabelKey]="datePeriodComparisonForLabelKey"
    [statusInclusionFor]="statusInclusionFor"
    [statusInclusionForLabelKey]="statusInclusionForLabelKey"
    [statusOptionsApi]="statusOptionsApi"
    [outerSort]="outerSort"
    [generateTemplateRequest]="generateTemplateRequest"
    [importPreviewPath]="'allowance-import'"
    ></core-page-list>

  <ng-template #orgTree>
    <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdsChange($event)">
    </core-org-tree>

  </ng-template>

</div>