cms-profile-inschange-edit {
    .image{
       display: flex;
       justify-content: center;
       padding-top: 35px;
   
    }
    .image:hover{
        cursor: pointer;
    }
    .e-tooltip-wrap.e-popup {
       background-color:rgb(105, 105, 105);
       border: 2px solid #000;
   }
   .e-tooltip-wrap {
       border-radius: 4px;
       opacity: 1;
   }
   .input-group-append .btn, .input-group-prepend .btn{
       z-index: 0;
     }
   
   }
   .row {
       margin: var(--size-layout-block-cell-spacing) 0px;
   
   }
   .btn-group-custom{
       display: flex ;
       justify-content: center;
   }
   .header-text{
       font-weight: 500;
       font-size: 15px;
   }
   .ins-change-edit-container {
    .row {
        margin: var(--size-layout-block-cell-spacing) 0px;

    }
    .btn-group-custom{
        display: flex ;
        justify-content: center;
    }
}