<div class="app-demo-attachment-list-container">
    <core-page-list [normalMode]="true" [apiDefinition]="apiDefinition" [columns]="columns" [editRoute]="editRoute"
        [crud]="crud" [title]="title" [autoResizeWithWindow]="true" 
        
        [showParamKit]="true"
        [datePeriodComparisonFor]="datePeriodComparisonFor"
        [datePeriodComparisonForLabelKey]="datePeriodComparisonForLabelKey"
        [hideStatusInclusion]="false"
        [statusInclusionFor]="statusInclusionFor"
        [statusInclusionForLabelKey]="statusInclusionForLabelKey"
        [statusOptionsApi]="statusOptionsApi"
        
        ></core-page-list>
</div>