<div class="at-setup-time-emp-container">
    <core-page-list [apiDefinition]="apiDefinition" [columns]="columns" [editRoute]="editRoute" [crud]="crud"
        [title]="title" 
        [outerParam$]="outerParam$"
        [autoResizeWithWindow]="true"
        [outerSort]="outerSort"
        [outerInOperators]="outerInOperators"
        [left]="orgTree"
    ></core-page-list>
    <ng-template #sticker let-code="context.status">
        <core-status-sticker [code]="code"></core-status-sticker>
    </ng-template>
    <ng-template #orgTree>
        <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdChange($event)">
        </core-org-tree>
      </ng-template>
</div>