.app-time-import-container {
    font-size: 13px;

    .color-cell {
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}