.hu-commend-edit-container {
    .row {
        margin: var(--size-layout-block-cell-spacing) 0px;

    }
    .mt_8px{
        margin-top: -8px;
    }
    .btn-group-custom{
        display: flex ;
        justify-content: center;
    }
}