cms-profile-insinformation-edit {
    .image {
        display: flex;
        justify-content: center;
        padding-top: 35px;

    }

    .image:hover {
        cursor: pointer;
    }

    .e-tooltip-wrap.e-popup {
        background-color: rgb(105, 105, 105);
        border: 2px solid #000;
    }

    .e-tooltip-wrap {
        border-radius: 4px;
        opacity: 1;
    }

    .input-group-append .btn,
    .input-group-prepend .btn {
        z-index: 0;
    }

}

.custom-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin: var(--size-layout-block-cell-spacing) 0px;

}

.btn-group-custom {
    display: flex;
    justify-content: center;
}

.title {
    display: block;
    margin: 0px var(--size-layout-block-cell-spacing);
}

.sector-content {
    height: auto !important;
}