<div class="app-approve-additinal-info-container">
    <core-page-list
        [apiDefinition]="apiDefinition"
        [columns]="columns"
        [editRoute]="editRoute"
        [crud]="crud"
        [normalMode]="true"
        [autoResizeWithWindow]="true"

        [outerParam$]="outerParam$"
        [outerInOperators]="outerInOperators"
        [left]="orgTree"
        [height]="height"
        [frozen]="3"
    >
    </core-page-list>


    <ng-template #orgTree>
        <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdsChange($event)" [height]="treeHeight"> </core-org-tree>
    </ng-template>
</div>

<ng-template #passNo let-passNo="context.passNo" let-modelChanges="context.modelChanges">
    <div [class.fill-color-column]="modelChanges.includes('passNo')">{{passNo}}</div>
</ng-template>

<ng-template #passDate let-passDate="context.passDate" let-modelChanges="context.modelChanges">
    <div [class.fill-color-column]="modelChanges.includes('passDate')">{{passDate | tableCell: 'DATE' : lang}}</div>
</ng-template>

<ng-template #passExpire let-passExpire="context.passExpire" let-modelChanges="context.modelChanges">
    <div [class.fill-color-column]="modelChanges.includes('passExpire')">{{passExpire | tableCell: 'DATE' : lang}}</div>
</ng-template>

<ng-template #passPlace let-passPlace="context.passPlace" let-modelChanges="context.modelChanges">
    <div [class.fill-color-column]="modelChanges.includes('passPlace')">{{passPlace}}</div>
</ng-template>

<ng-template #visaNo let-visaNo="context.visaNo" let-modelChanges="context.modelChanges">
    <div [class.fill-color-column]="modelChanges.includes('visaNo')">{{visaNo}}</div>
</ng-template>

<ng-template #visaDate let-visaDate="context.visaDate" let-modelChanges="context.modelChanges">
    <div [class.fill-color-column]="modelChanges.includes('visaDate')">{{visaDate | tableCell: 'DATE' : lang}}</div>
</ng-template>

<ng-template #visaPlace let-visaPlace="context.visaPlace" let-modelChanges="context.modelChanges">
    <div [class.fill-color-column]="modelChanges.includes('visaPlace')">{{visaPlace}}</div>
</ng-template>

