<div class="inschange-container">
  <core-page-list
    [apiDefinition]="apiDefinition"
    [columns]="columns"
    [outerParam$]="outerParam$"
    [outerInOperators]="outerInOperators"
    (rowDoubleClick)="onRowDoubleClick($event)"
    [editRoute]="editRoute"
    [crud]="crud"
    [title]="title"
    [left]="orgTree"
    [normalMode]="true"
    [outerSort]="outerSort"
    [autoResizeWithWindow]="true"
    (selectedDataChange)="onSelectedDataChange($event)"
    (corePageHeaderButtonClick)="onCorePageHeaderButtonClick($event)"
    [frozen]="2"
  >
  </core-page-list>
  <ng-template #orgTree>
    <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdsChange($event)"> </core-org-tree>
  </ng-template>
  <ng-template #isBhxh let-isBhxh="context.isBhxh">
    <core-checkbox [disabled]="true" [inputValue]="isBhxh"></core-checkbox>
  </ng-template>
  <ng-template #isBhyt let-isBhyt="context.isBhyt">
    <core-checkbox [disabled]="true" [inputValue]="isBhyt"></core-checkbox>
  </ng-template>
  <ng-template #isBhtn let-isBhtn="context.isBhtn">
    <core-checkbox [disabled]="true" [inputValue]="isBhtn"></core-checkbox>
  </ng-template>
  <ng-template #isBnn let-isBnn="context.isBnn">
    <core-checkbox [disabled]="true" [inputValue]="isBnn"></core-checkbox>
  </ng-template>
</div>
