.customize-button {
    width: 78px;
    height: 35px;
    border-radius: 10px;
    box-sizing: border-box;
    background: #E9E9E9;
    
    text-align: center;
    line-height: 35px;

    cursor: pointer;
}

#customize-group-button {
    margin-top: 250px;
}

#reverse-img {
    transform: rotate(180deg);
}