<div id="mini-overlay">
    <div id="mini-dialog" #miniDialog>
        <div id="div-alignment">
            <p id="title-reset-password">Thông tin Reset mật khẩu</p>

            <!-- send username to SERVER -->
            <p id="title-enter-username" *ngIf="showInputUsername">Nhập tài khoản</p>
            <input type="text" name="inp_username" [(ngModel)]="accountModel.username" (input)="onInputUsernameByUser()" *ngIf="showInputUsername">

            <!-- send code to SERVER -->
            <p id="title-time-remaining" *ngIf="showTitleTimeRemaining">Thời gian còn lại {{ countdown }}s</p>
            <p id="title-enter-verification-code" *ngIf="showTitleEnterVerificationCode">Nhập mã xác nhận</p>
            <input type="text" name="inp_verificationCode" [(ngModel)]="accountModel.verificationCode" (input)="onInputVerificationCodeByUser()" *ngIf="showInputVerificationCode">


            <!-- send new password to SERVER -->
            <p id="title-enter-new-password" *ngIf="showInputNewPassword">Nhập mật khẩu mới</p>
            <input type="password" name="inp_newPassword" [(ngModel)]="accountModel.newPassword" (input)="onInputNewPasswordByUser()" *ngIf="showInputNewPassword">
            
            <p id="title-retype-new-password" *ngIf="showInputConfirmNewPassword">Xác nhận mật khẩu mới</p>
            <input type="password" name="inp_retypeNewPassword" [(ngModel)]="accountModel.confirmNewPassword" (input)="onInputConfirmNewPasswordByUser()" *ngIf="showInputConfirmNewPassword">


            <div id="group-button">
                <a id="btn-skip" (click)="onClickButtonSkip()">Bỏ qua</a>
                <a id="btn-submit" (click)="onClickButtonSubmit()" #btnSubmit>Xác nhận</a>
            </div>
        </div>
    </div>
</div>