#mini-overlay {
    border-radius: 20px;
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#mini-dialog {
    width: 90%;
    height: 278px;

    background: white;
    border: solid 1px black;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;

    margin: 0px auto;
    margin-top: 180px;
}

#div-alignment {
    background: white;
    width: 90%;
    
    margin: 0px auto;
    margin-top: 30px;

    text-align: left;
}

#title-reset-password {
    font-size: 24px;
    font-weight: 600;
}

#title-enter-username {
    font-size: 20px;
}

#title-time-remaining {
    font-size: 20px;
}

#title-enter-verification-code {
    font-size: 20px;
}

#title-enter-new-password {
    font-size: 20px;
    margin-top: 15px;
}

#title-retype-new-password {
    font-size: 20px;
}

#group-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

#btn-skip {
    font-size: 20px;
    background: gray;
    padding: 6px 65px !important;
    border-radius: 25px;
    color: white !important;
}

#btn-submit {
    font-size: 20px;
    // background: #f37540;
    padding: 6px 65px !important;
    border-radius: 25px;
    color: white !important;

    margin-left: 10px;

    // disable button submit
    pointer-events: none;
    background: #ccc;
}

input {
    border-radius: 5px !important;
    padding: 6px 12px !important;
    margin: 0px !important;
    font-size: 20px !important;
    height: 50px !important;
}