<div class="hu-salary-rank-container">
  <core-page-list [apiDefinition]="apiDefinition" [columns]="columns" [editRoute]="editRoute" [crud]="crud"
    [title]="title" [autoResizeWithWindow]="true"></core-page-list>

  <ng-template #sticker let-code="context.status">
    <core-status-sticker [code]="code"></core-status-sticker>
  </ng-template>
</div>

<!-- <div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i
              class="fa fa-angle-double-right" aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/cms/profile/list/salaryrank'>Ngạch lương</span>
          </div>
        </div>
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>

    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
        (dataStateChange)="dataStateChange($event!)" rowHeight='37'
        headerHeight='42' [height]='configs.height()' [allowPaging]='true'
        [pageSettings]='configs.pageSettings' [enableHover]='true'
        (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
        allowResizing='true' [locale]='configs.currentLang'
        [allowSelection]='true' [showColumnChooser]='true'
        [selectionSettings]='configs.selectionSettings'
        [editSettings]='configs.editSettings'
        (rowSelecting)="setButtonStatus($event!)"
        (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'>
        <e-columns>
          <e-column type='checkbox' [showInColumnChooser]='false'
            [allowFiltering]='false' [allowSorting]='false' width='60'
            textAlign="Center" [allowEditing]="false">
          </e-column>
          <e-column field='id' [showInColumnChooser]='false' [visible]='false'
            headerText='ID' [isPrimaryKey]='true' [allowEditing]="false">
          </e-column>

          <e-column field='code' headerTextAlign="Center" textAlign="Left"
            headerText="Mã ngạch lương" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='name' headerTextAlign="Center" textAlign="Left"
            headerText="Tên ngạch lương" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='salaryScaleName' headerTextAlign="Center"
            textAlign="Left" headerText="Thang Lương"
            clipMode='EllipsisWithTooltip'></e-column>
          <e-column field='note' headerTextAlign="Center" textAlign="Left"
            headerText="Ghi chú" clipMode='EllipsisWithTooltip'>
          </e-column>
          <e-column field='isActive' textAlign="Center" headerText="Trạng thái"
            clipMode='EllipsisWithTooltip' width="120">
            <ng-template #template let-data>
              <div class="row-status full-width">
                <div class="status-effect text-center" *ngIf="data.isActive">
                  <span>Hiệu lực</span>
                </div>
                <div class="status-not-effect text-center"
                  *ngIf="!data.isActive">
                  <span>Không hiệu lực</span>
                </div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>

  </div>
</div> -->