<core-page-edit [width]="1000" [captionCode]="captionCode" [sections]="sections" [crud]="crud" [entityTable]="entityTable"
    [normalMode]="true" (onFormCreated)="onFormCreated($event)"
    (onInitialValueStringReady)="onFormReinit($event)"></core-page-edit>
<!-- <core-page-edit *ngIf="!!sections.length" [width]="1000" [captionCode]="captionCode" [sections]="sections" [crud]="crud" (onFormCreated)="onFormCreated($event)" [normalMode]="true"
(onInitialValueStringReady)="onFormReinit($event)" [entityTable]="entityTable"></core-page-edit> -->