app-reset-password {
  #reset-password {
    width: 100%;
    background: #fff;
    // background-size: cover;
    #forgot-password-form-wrapper {
      #forgot-password-form {
        width: 497px;
        height: auto;
        // height: 269px;
        background: #ffffff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin: 5% auto;
        .title {
          position: relative;
          font-family: "gohr-font";
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 26px;
          padding: 29px 34px 33px 33px;
        }
        .form-group {
          width: 428px;
          border-radius: 3px;
          label.e-float-text.telephone {
            position: absolute;
            top: 0;
            left: 31px;
            font-size: 14px;
            line-height: 16px;
            color: #6c757d;
            font-weight: 400;
          }
          #email {
            font-size: 14px;
            line-height: 16px;
            font-family: "gohr-font";
            color: #6c757d;
            height: 60px;
            background: #f2f5fa;
            margin: 0 35px 0 34px;
            outline: none;
            box-shadow: none;
          }
        }
        .form-button {
          padding-top: 25px;
          .register-form {
            margin: auto;
            display: block;
            text-align: center;
            button.return {
              width: 191px;
              height: 48px;
              border-radius: 4px;
              border: none;
              outline: none;
              background: #fff;
              border: 1px solid #2195f1;
              a.link {
                color: #1470b3;
                text-decoration: none !important;
                width: 100%;
                height: 100%;
                display: block;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            button.continue {
              width: 191px;
              height: 48px;
              margin-left: 20px;
              background: linear-gradient(270deg, #3d69f3 0%, #59a1ff 100%);
              box-sizing: border-box;
              border-radius: 4px;
              border: none;
              outline: none;
              a.continue {
                color: #fff;
                text-decoration: none !important;
                width: 100%;
                height: 100%;
                display: block;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            input.ng-invalid.ng-touched {
              border: 1px solid red;
            }
          }
        }
      }
    }
  }
}
gohr-confirm-modal#open-change-pass {
  div.form-group{
    border-radius: 3px;
    margin-bottom: 5px !important;
    input {
      font-size: 14px;
      font-family: "gohr-font";
      line-height: 16px;
      color: #6c757d;
      height: 45px;
      margin-top: 13px;
      background: #f2f5fa;
      outline: none;
      box-shadow: none;
    }
    .e-float-input{
      margin-top: 20px !important;
    }
  }
  input.ng-pristine.ng-invalid.ng-touched{
    border:1px solid red;
  }
  label.e-float-text.required:after{
    content:' *';
    color:red;
  }
  .eye {
    position: absolute;
    top: 38%;
    left: 93%;
    cursor: pointer;
  }

}
