<div class="border-container">
  <div class="null" *ngIf="!checkData">{{ titleNull | translate : lang }}</div>

  <div class="app-container">
    <div class="content">
      <div class="card-info" *ngFor="let work of data">
        <div class="row btn-click d-flex align-items-center">
          <p class="type">{{ work.positionConcurrentName }}</p>
          <button (click)="onHandleItemClick(work)" class="edit icon-wrapper">
            <i class="d-flex feather-edit-2"></i>
          </button>
        </div>
        <div class="row no-padding no-margin col-12">
          <p class="label col-md-3">{{ orgConcurrentName | translate : lang }}:</p>
          <p class="text col-md-4">{{ work.orgConcurrentName }}</p>
        </div>
        <div class="row no-padding no-margin col-12">
          <p class="label col-md-3">{{ effectiveDate | translate : lang }}:</p>
          <p class="text col-md-4">{{ work.effectiveDate | date : 'dd/MM/yyyy' }}</p>
        </div>
        <div class="row no-padding no-margin col-12">
          <p class="label col-md-3">{{ expirationDate | translate : lang }}:</p>
          <p class="text col-md-4">{{ work.expirationDate | date : 'dd/MM/yyyy' }}</p>
        </div>
        <div class="row no-padding no-margin col-12">
          <p class="label col-md-3">{{ timeConcurrent | translate : lang }}:</p>
          <p class="text col-md-4">
            {{ work.timeConcurrentYear + ' ' + work.timeConcurrentMonth }} 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div id="popup1" class="overlay" *ngIf="showPopup">
  <div class="popup">
    <core-page-edit
      *ngIf="!!sections.length"
      [width]="600"
      [sections]="sections"
      [captionCode]="captionCode"
      [normalMode]="true"
      [entityTable]="entityTable"
      (onFormCreated)="onFormCreated($event)"
      [autoSubmitLogicOff]="true"
      (submitLogic)="onClickSubmit($event)"
      [autoCancelLogicOff]="true"
      (cancelLogic)="onClickCancel($event)"
      (onInitialValueStringReady)="onFormReinit($event)"
      [customFormButtonItems] = "buttonItems"
    >
    </core-page-edit>
  </div>
</div>
