app-survey-edit{
    .addAnswer{
      text-align: center ;
      margin: auto ;
      color: #0007b3;
      cursor: pointer;
    }

}
#employees{
  .gohr-modal .gohr-modal-body {
   margin: 5% 42% !important;
 }
}
