<div class="rc-exams-container">
    <core-page-list
        [apiDefinition]="apiDefinition"
        [columns]="columns"
        [crud]="crud"
        [title]="title"
        [normalMode]="true"
        [autoResizeWithWindow]="true"

        [left]="orgTree"
        [outerInOperators]="outerInOperators"
    >
    </core-page-list>


    <ng-template #orgTree>
        <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdsChange($event)"> </core-org-tree>
    </ng-template>


    <ng-template #sticker let-code="context.statusName">
        <core-status-sticker [code]="code"></core-status-sticker>
      </ng-template>
</div>