.custom-box {
    width: 100%;
    // padding: 20px;
    background-color: #F6F7FB;
    // border: 1px solid #ddd;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 12vh;
    display: flex;
}

.custom-staff-profile{
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    height:14vh;
}