<div class="app-hufamily-edit-container">
    <core-page-list
        [apiDefinition]="apiDefinition"
        [columns]="columns"
        [editRoute]="editRoute"
        [crud]="crud"
        (rowClick)="onRowClick($event)"
        [title]="title"
        [autoResizeWithWindow]="true"
        [outerSort]="outerSort"
        [outerParam$]="outerParam$"
        [outerInOperators]="outerInOperators"
        [left]="orgTree"
        [frozen]="3"
        [headerWrap]="true"
        [headerFirstRowHeight]="headerFirstRowHeight"
    >
    </core-page-list>

    <ng-template #orgTree>
        <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdsChange($event)"> </core-org-tree>
    </ng-template>
</div>
<ng-template #isDeduct let-isDeduct="context.isDeduct">
    <core-checkbox [disabled]="true" [inputValue]="isDeduct"></core-checkbox>
</ng-template>

<ng-template #isHousehold let-isHousehold="context.isHousehold">
    <core-checkbox [disabled]="true" [inputValue]="isHousehold"></core-checkbox>
</ng-template>

<ng-template #isDead let-isDead="context.isDead">
    <core-checkbox [disabled]="true" [inputValue]="isDead"></core-checkbox>
</ng-template>

<ng-template #sameCompany let-sameCompany="context.sameCompany">
    <core-checkbox [disabled]="true" [inputValue]="sameCompany"></core-checkbox>
</ng-template>

<ng-template #fullname let-fullname="context.fullname">
    <div class="fill-color-column">{{fullname}}</div>
</ng-template>

<ng-template #relationshipName let-relationshipName="context.relationshipName">
    <div class="fill-color-column">{{relationshipName}}</div>
</ng-template>

<ng-template #genderName let-genderName="context.genderName">
    <div class="fill-color-column">{{genderName}}</div>
</ng-template>

<ng-template #birthDate let-birthDate="context.birthDate">
    <div class="fill-color-column">{{birthDate | date: "dd/MM/yyyy"}}</div>
</ng-template>

<ng-template #pitCode let-pitCode="context.pitCode">
    <div class="fill-color-column">{{pitCode}}</div>
</ng-template>

<ng-template #registerDeductDate let-registerDeductDate="context.registerDeductDate">
    <div class="fill-color-colunm">{{registerDeductDate | date: "dd/MM/yyyy"}}</div>
</ng-template>

<ng-template #deductFrom let-deductFrom="context.deductFrom">
    <div class="fill-color-column">{{deductFrom | date: "dd/MM/yyyy"}}</div>
</ng-template>

<ng-template #deductTo let-deductTo="context.deductTo">
    <div class="fill-color-column">{{deductTo | date: "dd/MM/yyyy"}}</div>
</ng-template>

<ng-template #idNo let-idNo="context.idNo">
    <div class="fill-color-column">{{idNo}}</div>
</ng-template>

<ng-template #career let-career="context.career">
    <div class="fill-color-column">{{career}}</div>
</ng-template>

<ng-template #nationalityName let-nationalityName="context.nationalityName">
    <div class="fill-color-column">{{nationalityName}}</div>
</ng-template>

<ng-template #birthCerPlace let-birthCerPlace="context.birthCerPlace">
    <div class="fill-color-column">{{birthCerPlace}}</div>
</ng-template>

<ng-template #birthCerProvinceName let-birthCerProvinceName="context.birthCerProvinceName">
    <div class="fill-color-column">{{birthCerProvinceName}}</div>
</ng-template>

<ng-template #birthCerDistrictName let-birthCerDistrictName="context.birthCerDistrictName">
    <div class="fill-color-column">{{birthCerDistrictName}}</div>
</ng-template>

<ng-template #birthCerWardName let-birthCerWardName="context.birthCerWardName">
    <div class="fill-color-column">{{birthCerWardName}}</div>
</ng-template>

<ng-template #note let-note="context.note">
    <div class="fill-color-column">{{note}}</div>
</ng-template>