<div class="app-decision-wrapper-container">
    <core-page-list [apiDefinition]="apiDefinition" [columns]="columns" [editRoute]="editRoute" [crud]="crud"
      [title]="title" [left]="orgTree"
      [normalMode]="true"
      [outerParam$]="outerParam$"
      [outerInOperators]="outerInOperators"
      [autoResizeWithWindow]="true"
      [outerSort]="defaultSort"
      (rowClick)="onRowClickLocal($event)"
      [showParamKit]="true"
      [datePeriodComparisonFor]="datePeriodComparisonFor"
      [datePeriodComparisonForLabelKey]="datePeriodComparisonForLabelKey"
      [hideStatusInclusion]="false"
      [statusInclusionFor]="statusInclusionFor"
      [statusInclusionForLabelKey]="statusInclusionForLabelKey"
      [statusOptionsApi]="workStatusOptionsApi"
      (corePageHeaderButtonClick)="onCorePageHeaderButtonClickLocal($event)"
      (selectedDataChange)="onSelectedDataChangeLocal($event)"
      [generateTemplateRequest]="generateTemplateRequest"
      [importPreviewPath]="'decision-import'"
      [frozen]="3"
  
      [outerSort]="outerSort"
      (selectedIdsChange)="customizeSelectedIdsChange($event)"
      ></core-page-list>
      <input #fileImport type="file" name="name"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      style="display: none;" (change)='inputFile($event)' />
  
    <ng-template #orgTree>
      <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdsChange($event)">
      </core-org-tree>
    </ng-template>
  
    <ng-template #sticker let-code="context.statusName">
      <core-status-sticker [code]="code"></core-status-sticker>
    </ng-template>
  
  </div>
  <core-api-progress *ngIf="longApiRunning" (onClose)="onProgressWindowClose($event)"></core-api-progress>