<div class="cms-app-calculatepayrollsub-container">  
  <!-- HEADER -->
  <core-page-header 
    [hidden]="false"
    [title]="title" 
    [shownItems]="headerButtons"
    (buttonClick)="onCorePageHeaderButtonClick($event)"
  ></core-page-header>

    <!-- LAYOUT MAIN -->
    <core-composition [left]="orgTreeChecked" [top]="top" [main]="main" [height]="compositionHeight"></core-composition>

    <!-- ORG TREE CHECKBOX -->
    <ng-template #orgTreeChecked>
      <core-org-tree [accessorMode]="accessorMode" [(ngModel)]="listOrgIds" [height]="treeHeight"></core-org-tree>
    </ng-template>

  <ng-template #top>
    <!-- FILLTER FORM -->
    <div class="row mb15" style="margin-right: 5px;">
      <div class="col-md-3">
        <div class="form-group vertical" >
          <label>{{ labelList.year | translate: lang}}</label>
            <core-dropdown [(ngModel)]="year" (ngModelChange)="onYearChange($event)"
            [options$]="yearOptions$" [getByIdObject$]="yearGetByIdObject$"
            [shownFrom]="shownFrom"></core-dropdown>
        </div>
        <div style="height: 25px;">
          <div style="margin: 0;" class="form-control-error" *ngIf="showRequiredYear">{{ errorRequired | translate: lang}}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group vertical">
          <label>{{ labelList.salPeriod | translate: lang}}</label>
          <core-dropdown [(ngModel)]="salPeriod" (ngModelChange)="onSalPeriodChange($event)"
            [options$]="salaryPeridOptions$" [getByIdObject$]="salaryPeriodGetByIdObject$"
            [shownFrom]="shownFrom"></core-dropdown>
        </div>
        <div style="height: 25px;">
          <div style="margin: 0;" class="form-control-error" *ngIf="showRequiredSalPeriod">{{ errorRequired | translate: lang}}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group vertical">
          <label>{{ labelList.salPeriodPhaseAdvance | translate: lang}}</label>
          <core-dropdown [(ngModel)]="phaseAdvanceId" (ngModelChange)="onPhaseAdvanceIdChange($event)"
            [options$]="phaseAdvanceIdOptions$" [getByIdObject$]="phaseAdvanceIdGetByIdObject$"
            [shownFrom]="shownFrom"></core-dropdown>
        </div>
        <div style="height: 25px;">
          <div style="margin: 0;" class="form-control-error" *ngIf="showRequiredPhaseAdvanceId">{{ errorRequired | translate: lang}}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group vertical">
          <label>{{ labelList.objSalary | translate: lang}}</label>
          <core-dropdown [(ngModel)]="objSalary" (ngModelChange)="onObjSalaryChange($event)"
            [options$]="objSalaryOptions$" [getByIdObject$]="objSalaryGetByIdObject$"
            [shownFrom]="shownFrom"></core-dropdown>
        </div>
        <div style="height: 25px;">
          <div style="margin: 0;" class="form-control-error" *ngIf="showRequiredObjSalary">{{ errorRequired | translate: lang}}</div>
        </div>
      </div>
    </div>

    <div class="row mb15" style="margin-right: 5px; margin-bottom: 0px;">
      <div class="col-md-3">
        <div class="form-group vertical vertical-custom">
          <label>{{ labelList.payrollFund | translate: lang}}</label>
          <core-dropdown [(ngModel)]="payrollFund" (ngModelChange)="onPayrollFundChange($event)"
            [options$]="payrollFundOptions$" [getByIdObject$]="payrollFundGetByIdObject$"
            [shownFrom]="shownFrom"></core-dropdown>
        </div>
        <div style="height: 25px;">
          <div style="margin: 0;" class="form-control-error" *ngIf="showRequiredPayrollFund">{{ errorRequired | translate: lang}}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group vertical vertical-custom" > 
          <label>{{ labelList.employeeCal | translate: lang}}</label>
          <input type="text" class="form-control" [(ngModel)]="employeeCal"
          (ngModelChange)="onEmployeeCalChange($event)" [readonly]="true">
        </div>
        <div style="height: 25px;">
          <div style="margin: 0;" class="form-control-error" *ngIf="showRequiredEmployeeCal">{{ errorRequired | translate: lang}}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group vertical vertical-custom">
          <label>{{ labelList.payDate | translate: lang}}</label>
          <core-date-picker 
            [disabled]="disabled"
            [(ngModel)]="payDate" 
            (ngModelChange)="onPayDateChange($event)"
          ></core-date-picker>
        </div>
        <div style="height: 25px;">
          <div style="margin: 0;" class="form-control-error" *ngIf="showRequiredPayDate">{{ errorRequired | translate: lang}}</div>
        </div>
      </div>   
      <div class="col-md-1">
        <div class="form-group vertical vertical-custom">
          <label></label>
          <core-button-group-vns 
            class="buttonGroupCustom"
            [showCaption]="true" 
            (buttonClick)="onButtonClick($event)" 
            [shownItems]="buttonItems" 
          ></core-button-group-vns>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- MAIN -->
  <ng-template #main>
    

    <!-- GRID DATA -->
    <core-table 
      [columns]="columns" 
      [height]="tableHeight" 
      [showCheckbox]="!!!hideCheck" 
      [frozen]="2"
      [data]="innerBody" 
      [loading]="loading" 
      (onSearching)="onSearching($event)"
      [headerWrap]="true"
      [headerFirstRowHeight]="headerFirstRowHeight"
      (onSelectedIdsChange)="onSelectedIdsChange($event)"
    ></core-table>

    <!-- Pagination -->
    <div class="d-flex d-flex-end pagination-wrapper" 
      [ngStyle]="{
        height: paginationHeight+'px'
      }">
      <core-pagination-full  [currentPage$]="currentPage$" [pageSize$]="pageSize$"
          [height]="paginationHeight"
          [pageCount]="pageCount"
          [innerBodyCount$]="innerBodyCount$" [pagination$]="pagination$" [loading]="loading"
          [background]="'#848484'"
          (onCurrentPageChange)="onCurrentPageChange($event)"
          ></core-pagination-full>
  
    </div>
  </ng-template>
</div>

<app-fullscreen-modal-loader *ngIf="loadingPage"></app-fullscreen-modal-loader>
