.shown {
    right: 0px !important;    
    transition: right .25s ease-out;
    box-shadow: var(--decoration-box-shadow) !important;
}

.article-fragments-container {

    --z-index: 1;


    box-sizing: border-box;
    display: block;
    position: fixed;
    top: calc(var(--size-header-height) + var(--size-layout-block-cell-spacing));
    right: -280px;
    transition: right .25s ease-out;
    width: 280px;
    height: calc(100vh - var(--size-header-height) - var(--size-layout-block-cell-spacing));
    padding: var(--size-layout-block-cell-spacing);
    overflow-y: auto;
    background-color: var(--color-bg-block);
    z-index: var(--z-index);
    box-shadow: unset;

    &>h3 {
        font-weight: 700;
        color: var(--color-bg-pagination-button);

        &>span {
            float: right;
        }
    }

    &>ul {
        padding-left: var(--size-layout-block-cell-spacing);
    }

    &>ul>li {
        display: block;
        margin: var(--size-layout-block-cell-spacing) 0px;
    }
}