.app-notification-container {
    .item-notify {
        border-bottom: 1px solid #D1D1D1;
    }

    .image-child {
        display: flex;
        width: 70px;
        height: 70px;
        justify-content: center;
        align-items: center;

        & img {
            width: 35px;
            height: 35px;
        }
    }

    .d-flex-between {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

}

:host::ng-deep .sector-header.pointer .d-flex-between {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

:host::ng-deep .core-accordion-sector.open .toggler.d-flex.feather-chevron-down{
    transform: rotate(0) !important;
    padding: 6px !important;
    transition: .5s ease-in !important;
}